
body{
    background-color: var(--body_background);
    color: var(--body_color);
   
}
*{
    font-family: var(--font_family) ;
}
.App{
    max-width: 738rem;
    padding: 0 40px;
}
.woops{
    font-size: 20px;
    line-height: 24px;
    color: #FF5252;
    margin-top: 8px;
}

@media (max-width: 480px) {
    .App{
        padding: 0 24px;
    }
    .woops{
        font-size: 18px;
        line-height: 23px;
    }
}

