
.select__dropdown{
    position: relative;
    height: 100%;
    
}
.select__list{
    display: none;
    position: absolute;
    background-color: var(--body_background);
    width: 183px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    right: -6px;
    top: 47px;
    z-index: 10;

}
.select-visible{
    display: block;
}
.select__list:hover{
    box-shadow: 0px 5px 30px var(--moon-color);
}
.select__list-item{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    padding-left: 24px;
    margin: 16px;
    
}
.select__list-item:not(:last-child){
    margin-bottom: 16px;
}
.select__list-item:nth-child(1){
    font-family: 'Inter';
}
.select__list-item:nth-child(2){
    font-family: 'Lora';
}
.select__list-item:nth-child(3){
    font-family: 'Inconsolata';
}

.select__list-item:hover{
    color: #A445ED;
}
.select__button-container{
    width: 125px;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    cursor: pointer;
}
.select__button{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    border:none;
    color: var(--body_color);
    padding: 0 0 0 5px;
    vertical-align: middle;
    height: 100%;
    cursor: pointer;
}

.icon-icon-arrow{
    position: relative;
    width: 12px;
    margin-left: 18px;

}
.icon-icon-arrow:before {
    position: absolute;
    width: 12px;
    font-size: 8px;
    top: 14px;
    color: #A445ED;
}
.select__input-value{
    display: none;
}

@media (max-width: 480px) {
    .select__list-item{
        font-size: 14px;
    }
    .select__button{
        font-size: 14px;
    }
}