header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    align-items: center;
    margin: 55px auto;
}
.line{
    width: 1px;
    height: 32px;
    background-color: #E9E9E9;
    margin: 0 26px;
}

@media (max-width: 480px) { 
    header{
        margin: 24px auto;
    }
    .line{
        margin: 0 16px ;
    }
}
.header__actions{
    display: flex;
    width: 251px;
}

.icon-icon_book:before{
    font-size: 36px;
}