
.source__container{
    display: flex;
    margin-top: 40px;
    margin-bottom: 120px;
    border-top: 1px solid #E9E9E9;
    padding-top: 20px;
    align-items: center;
}
.source__link-container{
    display: flex;
    width: 90%;
}
.source__title{
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #757575;
}
.source__text-link {
    margin: 0 9px 0 20px;
    text-decoration-line: underline;
    color:var(--body_color);
    overflow: hidden;
    position: relative;

}
a,
a:visited,
a:active {
    color:var(--body_color);
    text-decoration: none;
    text-decoration-line:none;
}
.icon-icon_external-link::before{
    color: #757575;
}
.icon-icon_external-link:hover{
    transform: scale(1.2);
    transition: all 0.3s ease 0s;
}

@media (max-width:480px){
    .source__container{
        display: block;
    }
    .source__text-link {
        margin-left: 0;
        font-size: 14px;
    }
    .source__link-container{
        margin-top: 7px;
    }
}